<DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <header>
      <h1>Bem vindo A <i>Home</i> page do Blog </h1>
      <%= link_to 'About', about_path %>
    </header>

    <section>

    </section>

    <footer>

    </footer>

  </body>

</html>
